md-toolbar {
    background-color: white;   
}

.mobile {
    @media(orientation: landscape) {
        font-size: $moile-landscape-font-size;

        .md-headline {
            font-size: $moile-landscape-card-title-font-size;
            line-height: $moile-landscape-card-title-font-size;
        }
    }

    md-card {
        margin: 20px;
    }

    &-logo {
        height: 200%;
        margin-top: 6vw;

        & + .title-text {
            margin-top: 12vw;
            margin-left: 4vw;
            font-size: 6vw;
        }
    }
}
