<div>
    <div class="split section">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="split section">
        <ng-map zoom="14" center="363 Thompson Drive, Winnipeg, MB, Canada">
            <marker position="363 Thompson Drive, Winnipeg, MB, Canada"></marker>
        </ng-map>
    </div>
</div>
